{% load static %}

<div class="form-message-container">
	<div class="info">
	  <h3>Send a message</h3><i class="fa-solid fa-envelope"></i>
	</div>
  </div>
  <div class="form">
	<!-- <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div> -->
	<form class="register-form" action="{% url 'sendmessage' %}" method="POST">
	    {% csrf_token %}
	    <p>This message will be forwarded to my email</p>

		<input id="name" type="text" name="name" required placeholder="Name"><br>
		<input id="email" type="email" name="email" placeholder="Email address"><br>
		<input id="phone" type="text" name="phone" placeholder="Phone"><br>
		<textarea id="message" rows="5" type="text" name="message" placeholder="Message"></textarea><br>

		<button type="submit">send message</button>
	</form>
  </div>












<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>