{% load static %}
{% include 'blog/template-parts/header.html' %}
    <main class="main-content-container"><!-- main content container start------- -->
        <div style="text-align: center;">
            <h1>PAGE NOT FOUND.</h1>
            <h3>Thanks for checking. Go back to home page , and check out some cool Articles</h3>
        </div>
    </main><!-- main content container end------- -->

    <!-- And here is our main footer that is used across all the pages of our website -->

{% include 'blog/template-parts/footer.html' %}

