{% load static %}
    <footer>
		<div><a href="https://www.youtube.com/channel/UC5AfMjzMLFOZilONIDs488w"><i class="fab fa-youtube"></i></a></div>&nbsp;&nbsp;
		<div><a href="https://twitter.com/wmecreatives"><i class="fab fa-twitter"></i></a></div>&nbsp;&nbsp;
		<div><a href="https://www.facebook.com/Wmecreatives-102072069136497"><i class="fab fa-facebook-square"></a></i></div>&nbsp;&nbsp;
        <div><a href="https://www.linkedin.com/in/wisdom-mapeka-70238338/"><i class="fab fa-linkedin"></i></a></div>&nbsp;&nbsp;
		<div style="color: black">wme<span style="color: #15adc4;">C</span>reatives &copy;2021</div>
	</footer>

  <script src="{% static 'blog/js/index.js' %}"></script>
  </body>
</html>